.popup__button_disabled {
  background: transparent;
  color: #C4C4C4;
  border: 1px solid #C4C4C4;
  transition: visibility 0s, background 0.3s;
}

.popup__button_disabled:hover {
  background: transparent;
  cursor: default;
}